body{
  white-space: nowrap;
}

.row{
  margin: 10px 20px;
}

.movieblock{
  height: auto;
  padding: 10px 30px;
}

.genre{
  margin: auto;
  font-size: 25px;
  padding-left: 20px;
}

.movie{
  display: inline-block;
  width: 25%;
  margin: 10px 0;
}

.img{
  width: 80%;
  height: 300px;
  display: block;
  padding-bottom: 10px;
}

.year{
  display: block;
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 100;
}


.movietitle{
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}

.star{
  width: 15px;
  height: 15px;
  display: inline-block;
  padding-bottom: 5px;
}
